<div [hidden]="!Confirm.Active" class="confirm-container" [ngClass]="{AllCornersRounded: !WindowState}">
  <div class="confirm-offset">
      <div class="confirm-frame">
        <span class="d-flex mb-4">
            <i class="fas fa-exclamation-circle mr-4"></i>
            <h1 class="m-0 align-self-center">{{Confirm.Data.Title}}</h1>
        </span>
        <span class="d-flex justify-content-end">
          <button (click)="Confirm.setResult(true)" class="mx-2 btn-confirm">Ok</button>
          <button (click)="Confirm.setResult(false)" class="mx-2 btn-cancel">Cancel</button>
        </span>
      </div>
  </div>
</div>