.side-bar {
    width: 150px;
    height: 100%;
    background-color: var(--md-primary-background);
    color: var(--md-primary-foreground);
    box-shadow: 5px 0 10px -6px var(--md-primary-background);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

hr {
    color: var(--md-primary-foreground);
    border: solid 0.25px;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0;
}

.side-bar-header {
    background-color: var(--md-primary-dark-background);
}

.page-list {
    transition-duration: 0.5s;
    transition-timing-function: step-end;
}

.side-bar-collapsed {
    width: 40px;
}

.side-bar-collapsed span, .side-bar-collapsed hr {
    visibility: hidden;
    transition-timing-function: step-start;
}

.side-bar-collapsed .btn-nav-bar {
    transition-duration: 0.5s;
    transition-timing-function: step-end;
}

.side-bar-collapsed .side-bar-header  {
    background-color: var(--md-primary-background);
}

.btn-nav-bar, .btn-nav-bar:focus {
    color: var(--md-primary-foreground);
    padding: 5px 10px;
    margin: 0;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-side-bar, .btn-side-bar:focus {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: var(--md-primary-foreground);
    text-align: center;
    background-color: var(--md-primary-background);
    -webkit-app-region: no-drag;
    padding: 0.5rem 0;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
}

.btn-side-bar:hover {
    background-color: var(--md-primary-dark-background);
}

.fa-plus:hover, .fa-bars:hover {
    animation: Vibrate 250ms 2;
}

input {
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: var(--md-primary-foreground);
    text-align: center;
}

input:hover {
    cursor: pointer;
}