<nav [ngClass]="{'side-bar-collapsed': sideBarCollapsed, 'BottomLeftCornerRounded': !WindowState}" class="side-bar d-flex flex-column">
  <div class="d-flex flex-column side-bar-header">
      <button (click)="ToggleSideBar()" class="btn-nav-bar align-self-end">
          <i class="fas fa-bars"></i>
      </button>
  </div>
  <hr>
  <span class="page-list flex-grow-1">
      <span class="d=flex" *ngFor="let page of Settings.NotesPages; let i = index">
        <button (click)="SelectPage(i)" class="btn-side-bar">
            <input type="text" [(ngModel)]="page.Name">
        </button>
      </span>
      <span class="d-flex">
            <button (click)="AddPage()" class="btn-side-bar"><i class="fas fa-plus w-100"></i></button>
            <button (click)="DeletePage()" class="btn-side-bar"><i class="fas fa-trash w-100"></i></button>
      </span>
  </span>
  <div class="d-flex flex-column">
    <button (click)="AddNewNote()" class="btn-nav-bar align-self-end">
        <i class="fas fa-plus"></i>
    </button>
</div>
</nav>
