textarea {
    resize: none;
    height: auto;
    overflow: hidden;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0 5px 5px 5px;
    color: #000000;
    background-image: linear-gradient(to right, #faff66 5px, transparent 5px), linear-gradient(to left, #faff66 5px, transparent 5px), linear-gradient(#faff66 30px, #BBB 30px, #BBB 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    line-height: 31px;
}

input[type=text] {
    font-size: 0.75em;
    font-weight: 600;
    color: var(--md-primary-background);
    padding: 0 5px;
    border: none;
    border-radius: 10px 10px 0 0;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.NoteFrame {
    resize: horizontal;
    min-width: 300px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px -8px;
    background-color: #faff66;
    font-family: 'Indie Flower', cursive;
}

.btn-drag {
    color: #BBBBBB;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-draggable {
    color: #AAAAAA;
    transform: scale(1.2);
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.showScroll {
    border-left: dashed 1px red;
}