/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    background-color: transparent;
}
body {
    height: 100%;
    background-color: transparent !important;
    overflow: hidden;
}

app-root {
    display: block;
    height: 100%;
    background-color: transparent;
}

.AllCornersRounded {
    border-radius: 25px;
}

.TopCornersRounded {
    border-radius: 25px 25px 0 0;
}

.btn-windows, .btn-windows:focus, .btn-windows-close, .btn-windows-close:focus {
    color: #d9d9d9;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-windows:hover {
    color: #cccccc;
    position: relative;
    top: -1.5px;
    left: -1px;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-windows-close:hover {
    color: #ff3333;
    position: relative;
    top: -1.5px;
    left: -1px;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}