/* You can add global styles to this file, and also import other style files */
:root {
    --md-primary-background: #6200EE;
    --md-primary-dark-background: #3700B3;
    --md-primary-foreground: #FFFFFF;
}

html {
    height: 100%;
    background-color: transparent;
}
body {
    height: 100%;
    background-color: transparent !important;
    overflow: hidden;
}

app-root {
    display: block;
    height: 100%;
    background-color: transparent;
}

app-main {
    border-right: solid 2px #f8f9fa;
    border-bottom: solid 2px #f8f9fa;
}

app-side-bar {
    z-index: 16000;
}

.AllCornersRounded {
    border-radius: 25px;
}

.BottomLeftCornerRounded {
    border-radius: 0 0 0 25px;
}

.BottomRightCornerRounded {
    border-radius: 0 0 25px 0;
}

.BottomCornersRounded {
    border-radius: 0 0 25px 25px;
}

.TopCornersRounded {
    border-radius: 25px 25px 0 0;
}

.btn-windows, .btn-windows:focus, .btn-windows-close, .btn-windows-close:focus {
    color: #BBBBBB;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-windows:hover {
    color: #AAAAAA;
    position: relative;
    top: -1.5px;
    left: -1px;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-windows-close:hover {
    color: #ff3333;
    position: relative;
    top: -1.5px;
    left: -1px;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}